<aside id="aside">

    <div class="avatar">
        <div class="flex-row">
            <div class="avatar-image"></div>
            <span class="avatar-name">Régis Guillermin</span>
        </div>
        <span class="avatar-last">Dernière connexion: 11/01/2022</span>
    </div>

    <div class="shortcuts">

        <div class="shortcuts-top">
            <span>Mes raccourcis</span>
            <a href="#" class="sort"></a>
        </div>

        <ul class="shortcuts-list">
            <li class="shortcuts-item new">
                <a href="#">Créer une nouvelle fiche employé</a>
            </li>
            <li class="shortcuts-item market">
                <a href="#">Accéder au marché de Vienne</a>
            </li>
            <li class="shortcuts-item missing">
                <a href="#">Gérer une absence</a>
            </li>
            <li class="shortcuts-item maintenance">
                <a href="#">Suivi de maintenance</a>
            </li>
        </ul>

    </div>

    <div class="historic">
        <span class="historic-head">Historique des modifications</span>
        <ul class="historic-list">
            <li>
                <span class="notif-date">11/01/2022 – Régis Guillermin</span>
                <span class="notif-update">Création fiche embauche</span>
            </li>
            <li>
                <span class="notif-date">11/01/2022 – Régis Guillermin</span>
                <span class="notif-update">Création fiche embauche</span>
            </li>
            <li>
                <span class="notif-date">11/01/2022 – Régis Guillermin</span>
                <span class="notif-update">Création fiche embauche</span>
            </li>
            <li>
                <span class="notif-date">11/01/2022 – Régis Guillermin</span>
                <span class="notif-update">Création fiche embauche</span>
            </li>
        </ul>
    </div>

    <a href="#" class="logout">Déconnexion</a>

</aside>