<nav id="navigation">

    <ul id="nav">
        <li class="menu-item dashboard active"><a href=""><span>Dashboard</span></a></li>

        <li class="menu-item round"><a href=""><span>Tournées</span></a></li>
        <li class="menu-item report"><a href=""><span>Rapports</span></a></li>
        <li class="menu-item employee"><a href=""><span>Employés</span></a></li>
        <li class="menu-item fleet"><a href=""><span>Flottes</span></a></li>
    </ul>

</nav>