<nav id="navigation">

    <ul id="nav">
        <li class="menu-item dashboard active"><a href="" class="menu-link"><span>Dashboard</span></a></li>
        <li class="menu-item round"><a href="" class="menu-link"><span>Tournées</span></a></li>
        <li class="menu-item report"><a href="" class="menu-link"><span>Rapports</span></a></li>
        <li class="menu-item employee has-submenu">
            <a href="" class="menu-link"><span>Employés</span></a>
            <ul class="submenu">
                <li class="submenu-item"><a href="#">Submenu</a></li>
                <li class="submenu-item"><a href="#">Submenu</a></li>
                <li class="submenu-item"><a href="#">Submenu</a></li>
                <li class="submenu-item"><a href="#">Submenu</a></li>
                <li class="submenu-item"><a href="#">Submenu</a></li>
            </ul>
        </li>
        <li class="menu-item fleet"><a href="" class="menu-link"><span>Flottes</span></a></li>
    </ul>

</nav>