{% extends 'base.html.twig' %}

{% block body %}
    <section id="employee-list">

        <div class="inside main-grid">

            {{ include('partials/_nav.html.twig') }}

            <article id="article" class="padding-basic-page">

                <div class="top-infos small-padding-left padding-right">

                    <div class="half-grid margin-bottom">
                        <div class="grid-item">
                            <span class="top-title">Gestion des employés</span>
                            <h1 class="title margin-bottom">Liste des employés</h1>
                            <form action="" class="search">
                                <div class="input-container">
                                    <label for="search">Rechercher une page</label>
                                    <input id="search" type="text" placeholder="Rechercher une page">
                                </div>
                                <button></button>
                            </form>
                        </div>
                        <div class="grid-item flex-col-end-end">
                            <a href="#" class="button basic gradient add">Ajouter un employé</a>
                        </div>
                    </div>
                </div>

                <section id="list">

                    <div class="filters">

                        <span class="filter-icon">Filtrer ma recherche</span>
                        <div class="resize">
                            <form action="" class="filter-form">

                                <div class="select-box">
                                    <label for="affectation">Affectation</label>
                                    <select id="affectation">
                                        <option value="">Affectation</option>
                                        <option value="">value 1</option>
                                        <option value="">value 2</option>
                                        <option value="">value 3</option>
                                    </select>
                                </div>

                                <div class="select-box">
                                    <label for="contract">Type de contrat</label>
                                    <select id="contract">
                                        <option value="">Type de contrat</option>
                                        <option value="">value 1</option>
                                        <option value="">value 2</option>
                                        <option value="">value 3</option>
                                    </select>
                                </div>

                                <div class="select-box">
                                    <label for="statut">Statut</label>
                                    <select id="statut">
                                        <option value="">Statut</option>
                                        <option value="">value 1</option>
                                        <option value="">value 2</option>
                                        <option value="">value 3</option>
                                    </select>
                                </div>

                                <div class="select-box">
                                    <label for="function">Fonction</label>
                                    <select id="function">
                                        <option value="">Fonction</option>
                                        <option value="">value 1</option>
                                        <option value="">value 2</option>
                                        <option value="">value 3</option>
                                    </select>
                                </div>

                            </form>
                        </div>

                        <div class="filters-container">

                            <ul class="filters-list">
                                <li><a href="">CDI</a></li>
                                <li><a href="">Vienne</a></li>
                            </ul>

                            <div class="result-nbr">
                                <form action="" class="number-form flex-row-center-end">
                                    <label for="nbr">Nombre de lignes</label>
                                    <input id="nbr" type="number" name="number" value="10">
                                </form>
                            </div>

                        </div>

                    </div>


                    <table class="table">

                        <thead class="table-head round-layer">
                        <tr>
                            <th class="notif"></th>
                            <th>ID</th>
                            <th class="left">Nom</th>
                            <th>Affectation</th>
                            <th>Contrat</th>
                            <th>Satut</th>
                            <th>Fonction</th>
                            <th class="btn-marge"></th>
                            <th class="btn-in"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="table-row">
                            <td class="notif has-notif"></td>
                            <td>128</td>
                            <td class="left">Stéphane Martin Durant</td>
                            <td>Vienne</td>
                            <td>CDI</td>
                            <td>Technicien</td>
                            <td>Gardin DI</td>
                            <td><a href="" class="button small green">Consulter</a></td>
                            <td><a href="" class="button small transparent progress">En cours</a></td>
                        </tr>
                        <tr class="table-row">
                            <td class="notif"></td>
                            <td>128</td>
                            <td class="left">Stéphane Martin Durant</td>
                            <td>Vienne</td>
                            <td>CDI</td>
                            <td>Technicien</td>
                            <td>Gardin DI</td>
                            <td><a href="" class="button small green">Consulter</a></td>
                            <td><a href="" class="button small purple">Modifier</a></td>
                        </tr>
                        </tbody>

                    </table>

                    <div class="pagination">
                        <a href="#" class="back disable"></a>
                        <ul class="pagination-list">
                            <li class="current"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                        <a href="#" class="next"></a>
                    </div>

                </section>

            </article>

            {{ include('partials/_aside.html.twig') }}

        </div>
    </section>
{% endblock %}



