{% extends 'base.html.twig' %}

{% block body %}
    <section id="employee">
        <div class="inside main-grid">

            {{ include('partials/_nav.html.twig') }}

            <article id="article" class="padding-stick-nav">

                <div class="big-padding-left">

                    <a href="#" class="back">Retour à la liste des employés</a>

                    <section class="top-infos small-margin-bottom">

                        <div class="half-grid">
                            <div class="grid-item">
                                <span class="top-title">Fiche employé</span>
                                <h1 class="title">Régis Guillermin</h1>
                            </div>
                            <div class="grid-item flex-row-end-end">
                                <a href="#" class="button medium purple update">Modifier la fiche</a>
                                <a href="#" class="button medium transparent-red delete small-margin-left">Supprimer la fiche</a>
                            </div>
                        </div>

                    </section>
                </div>

                <section class="error-messages big-padding-left small-margin-bottom">
                    <ul class="error-list">
                        <li>Le numéro de matricule de paie indiqué n’est pas valide.</li>
                        <li>Le format de la pièce jointe du permis de conduire n’est pas valide.</li>
                    </ul>
                </section>

                <section class="form-section">


                    <span class="last small-margin-bottom">Dernière modification : 11/01/2021</span>

                    <section class="form-grid">

                        <div class="form-item padding-top">
                            <ul class="form-list">
                                <li class="check active"><a href="#">Informations personnelles</a></li>
                                <li class="check"><a href="#">Données contractuelles</a></li>
                                <li class="check"><a href="#">Permis de conduire</a></li>
                                <li class="check"><a href="#">Santé</a></li>
                                <li class="check"><a href="#">Formation habilitations</a></li>
                            </ul>
                        </div>

                        <div class="form-item">
                            <form action="" class="form">

                                <div class="form-block small-margin-bottom">
                                    <h2 class="block-title">informations du salarié</h2>

                                    <div class="form-row error-overlay">
                                        <label for="num-mat">Matricule de paie*</label>
                                        <span class="additional-text">Saisissez les premiers chiffres de votre région</span>
                                        <div class="input-container">
                                            <input id="num-mat" type="text" placeholder="" class="input">
                                        </div>
                                        <p class="input-error" style="display: block;">Le numéro indiqué n’est pas
                                            valide.</p>
                                    </div>

                                    <div class="form-row">
                                        <label for="genre">Sexe*</label>
                                        <div class="select-container">
                                            <select name="genre" id="genre" class="select-picker">
                                                <option value="">Homme</option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                        <p class="input-error">Error</p>
                                    </div>

                                    <div class="form-row-grid">
                                        <div class="form-row-item">
                                            <label for="name">Matricule de paie*</label>
                                            <div class="input-container">
                                                <input id="name" type="text" placeholder="" class="input">
                                            </div>
                                            <p class="input-error">Error</p>
                                        </div>
                                        <div class="form-row-item">
                                            <label for="firstname">Matricule de paie*</label>
                                            <div class="input-container">
                                                <input id="firstname" type="text" placeholder="" class="input">
                                            </div>
                                            <p class="input-error">Error</p>
                                        </div>
                                    </div>

                                    <div class="form-row-grid">
                                        <div class="form-row-item">
                                            <label for="secu">Numéro de sécurité sociale*</label>
                                            <div class="input-container">
                                                <input id="secu" type="text" placeholder="" class="input">
                                            </div>
                                            <p class="input-error">Error</p>
                                        </div>
                                        <div class="form-row-item">
                                            <label for="social">Régime de la sécurité sociale*</label>
                                            <div class="select-container">
                                                <select name="social" id="social" class="select-picker">
                                                    <option value="">Lorem ipsum</option>
                                                    <option value="">Lorem ipsuLorem ipsum</option>
                                                    <option value="">Lorem ipsum</option>
                                                    <option value="">Lorem ipsum</option>
                                                </select>
                                            </div>
                                            <p class="input-error">Error</p>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="date-container">
                                            <label for="bday">
                                                <span>Date de naissance*</span>
                                                <input id="bday" class="input" type="text" placeholder="12" maxlength="2" pattern="/\d{1,2}/" />
                                                <input class="input" placeholder="12" maxlength="2" />
                                                <input class="input year" placeholder="2000" maxlength="4"  />
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <label for="country">Nationalité*</label>
                                        <div class="select-container">
                                            <select name="country" id="country" class="select-picker">
                                                <option value="">Homme</option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                        <p class="input-error">Error</p>
                                    </div>

                                    <div class="form-row">
                                        <div class="checkbox-container">
                                            <label class="container">
                                                Salarié étranger
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="radio-container">
                                            <span class="radio-top">Reconnaissance de travailleur handicapé</span>
                                            <label class="container">Oui
                                                <input type="radio" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container">Non
                                                <input type="radio" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-row margin-bottom">
                                        <label for="child">Informations enfants (prénom et date de naissance)</label>
                                        <div class="long-input">
                                            <input type="text" id="child" placeholder="Nicolas" class="input">
                                            <div class="date-container">
                                                <label for="bday">
                                                    <input id="bday" class="input" type="text" placeholder="12" maxlength="2" pattern="/\d{1,2}/" />
                                                    <input class="input" placeholder="12" maxlength="2" />
                                                    <input class="input year" placeholder="2000" maxlength="4"  />
                                                </label>
                                            </div>
                                            <a href="" class="form-cta transparent delete-form">Supprimer</a>
                                        </div>
                                        <a href="" class="form-cta transparent add-form">Ajouter un enfant</a>
                                    </div>

                                    <div class="form-row">
                                        <div class="files-container">
                                            <div class="file">
                                                <label for="file">Pièce d'identité</label>
                                                <input id="file" type="file">
                                            </div>
                                        </div>
                                    </div>
                                    
{#                                    <div class="form-row">#}
{#                                        <div class="input-document">#}
{#                                            <label for="passport"></label>#}
{#                                            <div class="flex">#}
{#                                                <div>#}
{#                                                    <input type="text">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>

                                <div class="ctas-container">
                                    <a href="#" class="button medium purple update small-margin-right">Modifier la fiche</a>
                                    <a href="#" class="button medium transparent-red delete">Supprimer la fiche</a>
                                </div>

                                <div class="ctas-container">
                                    <a href="#" class="button medium purple save">Enregistrer la fiche</a>
                                    <a href="#" class="button medium transparent draft small-margin-left small-margin-right">Enregistrer la fiche</a>
                                    <a href="#" class="button medium red delete-red">Supprimer la fiche</a>
                                </div>

                            </form>
                        </div>

                    </section>
                </section>

            </article>

            {{ include('partials/_aside.html.twig') }}

        </div>
    </section>
{% endblock %}

