body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: $base-color1;
    position: relative;
    color: $base-color2;
}

@-webkit-keyframes opacityAnimation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.inside {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.text{
    color: $base-color2;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.main-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 340px;
}

#article {
    min-height: 100vh;
    height: 100%;
    background: rgba(109, 93, 169, .04);

    &.padding-stick-nav{
        padding: 65px 64px 60px 90px;
    }

    &.padding-basic-page{
        padding: 65px 40px 60px 130px;
    }
}

.back{
    display: block;
    margin-bottom: 35px;
    color: $base-color3;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 19px;
    position: relative;

    &:before{
        content: "";
        position: absolute;
        left: -10px;
        top: 5px;
        transform: rotate(45deg);
        background: $base-color3;
        width: 1px;
        height: 6px;
    }

    &:after{
        content: "";
        position: absolute;
        left: -10px;
        top: 9px;
        transform: rotate(135deg);
        background: $base-color3;
        width: 1px;
        height: 6px;
    }
}

.last{
    display: block;
    text-align: right;
    color: $base-color3;
    font-size: 12px;
    letter-spacing: -0.24px;
    line-height: 15px;
}

.ctas-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 51px;
}