body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: $base-color1;
    position: relative;
    color: $base-color2;
}

@-webkit-keyframes opacityAnimation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.inside {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.text{
    color: $base-color2;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.main-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 340px;
}

#article {
    min-height: 100vh;
    height: 100%;
    background: rgba(109, 93, 169, .04);
}

