@charset "UTF-8";

$medias_dir: "../../../public/images/";

/* BREAKPOINTS */

$desktop-large:    1920;
$desktop-medium:   1440;
$desktop-small:    1280;
$tablet-landscape: 1024;
$tablet-portrait:  768;
$mobile-landscape: 640;
$mobile-portrait:  420;

/* COLORS */

$base-color1: #ffffff;
$base-color2: #646266;
$base-color3: #494B68;
$base-color4: #2C3149;
$base-color5: #646266;
$base-color6: #FF5E5E;
$base-color7: #FFD895;
$base-color8: #F0EAF9;
$base-color9: #6D5DA9;
$base-color10: #92AA8B;
$base-color11: #C52727;
$base-color12: #6E8963;