//ROW
.flex-row-start-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-row-end-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.flex-row-center-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-start-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex-row-end-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.flex-row-center-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-center-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

//COLUMN
.flex-col-start-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-col-end-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-col-center-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-col-start-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-col-end-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.flex-col-center-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-col-center-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}