#homepage {

    #article {
        padding: 39px 57px 30px 150px;
    }

    .title {
        margin-bottom: 48px;
    }

    .small-title {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 18px;
        margin-bottom: 22px;
        text-transform: uppercase;

        &.white {
            color: $base-color1;
        }

        &.purple {
            color: $base-color3;
        }
    }

    .tile-text {
        color: $base-color5;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 18px;
    }

    .tile-cta {
        display: inline-block;
        border-radius: 16px;
        background-color: #DCECDD;
        color: $base-color3;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 16px;
        text-decoration: none;
        padding: 8px 20px;
        margin-top: 10px;
    }

    .top-dash {
        margin-bottom: 68px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        span {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: -0.3px;
            line-height: 19px;
            color: $base-color3;
        }

        .search-form {
            max-width: 450px;
            width: 100%;
        }
    }

    .dash-grid {
        display: grid;
        grid-template-columns: 367px 1fr;
        gap: 46px;

        .dash-item {

            .tile {
                display: block;
                text-decoration: none;
                padding: 36px 49px 37px 35px;
                border-radius: 10px;
                box-shadow: 0 2px 30px 0 rgba(112, 93, 144, 0.2);
                margin-bottom: 43px;
                position: relative;

                &.background {
                    background: linear-gradient(0deg, #494B68 0%, #60638F 100%);
                    min-height: 328px;
                    color: $base-color1;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 157px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 250px;
                        height: 140px;
                        background: url('#{$medias_dir}img-1.png') no-repeat center;
                        background-size: cover;
                    }
                }

                .tile-location {
                    display: block;
                    font-size: 26px;
                    letter-spacing: 0;
                    line-height: 32px;
                    margin-bottom: 5px;
                }

                .tile-date {
                    display: block;
                    font-size: 13px;
                    letter-spacing: 0;
                    line-height: 16px;
                }
            }

            .tile-icon {
                position: absolute;
                top: 27px;
                left: -19px;
                height: 38px;
                width: 38px;
                border-radius: 50%;
                background: $base-color1;
                box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);

                &.target {

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 19px;
                        height: 19px;
                        background: url('#{$medias_dir}icon-10.svg') no-repeat center;
                        background-size: cover;
                    }
                }

                &.flag {

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 19px;
                        width: 14.83px;
                        background: url('#{$medias_dir}icon-2.svg') no-repeat center;
                        background-size: cover;
                    }
                }

                &.bell {

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 19px;
                        width: 18.63px;
                        background: url('#{$medias_dir}icon-11.svg') no-repeat center;
                        background-size: cover;
                    }

                    &.has-notif {

                        &:after {
                            content: "";
                            position: absolute;
                            top: 9.5px;
                            right: 8.5px;
                            height: 9px;
                            width: 9px;
                            background: url('#{$medias_dir}notif.svg') no-repeat center;
                            background-size: cover;
                        }
                    }
                }
            }
        }

        .notification-container {
            background: $base-color1;
            position: relative;
            border-radius: 10px;
            box-shadow: 0 2px 30px 0 rgba(112, 93, 144, 0.2);

            .small-title {
                padding: 40px 49px 0 35px;
                margin-bottom: 0;
            }

            .notif-list {
                padding-bottom: 14px;

                li {
                    padding: 30px 49px 30px 60px;
                    border-bottom: 1px solid #DFDFDF;
                    position: relative;

                    &:last-child {
                        border: none;
                    }

                    &.red-notif {

                        &:before {
                            content: "";
                            position: absolute;
                            top: 34px;
                            left: 35px;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: $base-color6;
                        }
                    }

                    &.orange-notif {

                        &:before {
                            content: "";
                            position: absolute;
                            top: 34px;
                            left: 35px;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: $base-color7;
                        }
                    }
                }
            }
        }
    }
}