#navigation {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    padding: 220px 19px 40px;
    background: $base-color1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: width 250ms ease;
    overflow: hidden;
    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.1);

    &.is-open {
        width: 250px;

        #nav {

            .menu-item {

                &.has-submenu{

                    .menu-link{

                        &:after{
                            opacity: 1;
                            animation-name: opacityAnimation;
                            animation-duration: 800ms;
                        }
                    }
                }

                .menu-link {

                    span {
                        opacity: 1;
                        transition: opacity 400ms ease;
                    }
                }
            }
        }
    }

    #nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        .menu-item {
            border-radius: 26px;
            width: 100%;
            margin: 8px 0;
            position: relative;
            z-index: 1;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 19px;

            &.has-submenu{

                &:hover{

                    .menu-link{

                        &:after{
                            transform: rotate(0);
                        }
                    }
                }

                .menu-link{

                    &:after{
                        opacity: 0;
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        transform: translateY(-50%) rotate(-90deg);
                        background: url('#{$medias_dir}arrow.svg') no-repeat center;
                        background-size: cover;
                        width: 11px;
                        height: 6px;
                        transition: all 500ms ease;
                    }
                }

                .submenu{
                    display: none;
                    flex-direction: column;

                    .submenu-item{
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 18px;

                        a{
                            padding: 7px 34px 7px 17px;
                            display: block;
                            color: $base-color3;
                            text-decoration: none;

                            &:hover{
                                color: $base-color12;
                                transition: color 500ms ease;
                            }
                        }
                    }

                    &.submenu-open{
                        display: block;
                        animation-name: opacityAnimation;
                        animation-duration: 500ms;
                    }
                }
            }

            &.dashboard {

                .menu-link {

                    &:before {
                        content: "";
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        left: 17px;
                        transform: translateY(-50%);
                        width: 19px;
                        height: 19px;
                        background: url('#{$medias_dir}menu-dash.svg') no-repeat center;
                    }
                }

                &:hover {

                    .menu-link {

                        &:before {
                            background: url('#{$medias_dir}menu-dash-hover.svg') no-repeat center;
                            transition: background 250ms ease;
                        }

                        span {
                            color: $base-color10;
                            transition: color 250ms ease;
                        }
                    }

                }

                &.active {

                    .menu-link {
                        color: $base-color9;
                        background: $base-color8;

                        &:before {
                            background: url('#{$medias_dir}menu-dash-active.svg') no-repeat center;
                        }

                        span {
                            color: $base-color9;
                        }
                    }
                }

            }

            &.round {

                .menu-link {

                    &:before {
                        content: "";
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        left: 17px;
                        transform: translateY(-50%);
                        width: 14.83px;
                        height: 19px;
                        background: url('#{$medias_dir}menu-round.svg') no-repeat center;
                    }
                }

                &:hover {

                    .menu-link {

                        &:before {
                            background: url('#{$medias_dir}menu-round-hover.svg') no-repeat center;
                            transition: background 250ms ease;
                        }

                        span {
                            color: $base-color10;
                            transition: color 250ms ease;
                        }
                    }

                }


                &.active {

                    .menu-link {
                        color: $base-color9;
                        background: $base-color8;

                        &:before {
                            background: url('#{$medias_dir}menu-round-active.svg') no-repeat center;
                        }

                        span {
                            color: $base-color9;
                        }
                    }
                }

            }

            &.report {

                .menu-link {

                    &:before {
                        content: "";
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        left: 17px;
                        transform: translateY(-50%);
                        width: 19px;
                        height: 19px;
                        background: url('#{$medias_dir}menu-report.svg') no-repeat center;
                    }
                }

                &:hover {

                    .menu-link {

                        &:before {
                            background: url('#{$medias_dir}menu-report-hover.svg') no-repeat center;
                            transition: background 250ms ease;
                        }

                        span {
                            color: $base-color10;
                            transition: color 250ms ease;
                        }
                    }

                }

                &.active {

                    .menu-link {
                        color: $base-color9;
                        background: $base-color8;

                        &:before {
                            background: url('#{$medias_dir}menu-report-active.svg') no-repeat center;
                        }

                        span {
                            color: $base-color9;
                        }
                    }
                }

            }

            &.employee {

                .menu-link {

                    &:before {
                        content: "";
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        left: 17px;
                        transform: translateY(-50%);
                        width: 21.42px;
                        height: 19px;
                        background: url('#{$medias_dir}menu-employee.svg') no-repeat center;
                    }
                }

                &:hover {

                    .menu-link {

                        &:before {
                            background: url('#{$medias_dir}menu-employee-hover.svg') no-repeat center;
                            transition: background 250ms ease;
                        }

                        span {
                            color: $base-color10;
                            transition: color 250ms ease;
                        }
                    }
                }

                &.active {

                    .menu-link {
                        color: $base-color9;
                        background: $base-color8;

                        &:before {
                            background: url('#{$medias_dir}menu-employee-active.svg') no-repeat center;
                        }

                        span {
                            color: $base-color9;
                        }
                    }
                }

            }

            &.fleet {

                .menu-link {

                    &:before {
                        content: "";
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        left: 17px;
                        transform: translateY(-50%);
                        width: 19px;
                        height: 19px;
                        background: url('#{$medias_dir}menu-fleet.svg') no-repeat center;
                    }
                }

                &:hover {

                    .menu-link {

                        &:before {
                            background: url('#{$medias_dir}menu-fleet-hover.svg') no-repeat center;
                            transition: background 250ms ease;
                        }

                        span {
                            color: $base-color10;
                            transition: color 250ms ease;
                        }
                    }

                }

                &.active {

                    .menu-link {
                        color: $base-color9;
                        background: $base-color8;

                        &:before {
                            background: url('#{$medias_dir}menu-fleet-active.svg') no-repeat center;
                        }

                        span {
                            color: $base-color9;
                        }
                    }
                }

            }

            .menu-link {
                position: relative;
                z-index: 2;
                width: 100%;
                height: 52px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-decoration: none;
                color: $base-color3;
                border-radius: 26px;
                overflow: hidden;

                span {
                    position: absolute;
                    opacity: 0;
                    padding-left: 52px;
                }
            }
        }
    }
}